<!DOCTYPE html>
<html lang="en" style="height:100%" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>选购</title>
    <script src="/frontEnd/lib/vue.js"></script>
    <script src="/frontEnd/lib/vue-resource.js"></script>
    <script src="/frontEnd/lib/elm.js"></script>
    <script src="/frontEnd/el-client/shop.js"></script>
    <link rel="stylesheet" href="/frontEnd/lib/elm.css">
    <link rel="stylesheet" href="/frontEnd/lib/elm2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #r {
            box-sizing: border-box;
            border: #66b1ff solid 4px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            overflow: hidden;
            float: left;
            margin: auto;
        }
    </style>
</head>
<body style="height: 100%">
<div id="app" style="background-color: #F5F5F5;height: 100%">
    <el-row style="background-color: white">
        <el-col :span="3" :offset="2">
            <img v-bind:src="hotel.portrait" style="width: 150px;height: 150px" id="r" alt="">
        </el-col>
        <el-col :span="4">
            <h2>{{hotel.name}}</h2>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="14" :offset="2">
            <h3>全部商品</h3>
            <!--商品展示-->
            <el-row :gutter="20">
                <el-col :span="12" v-for="dish of menu" style="padding-top: 10px">
                    <hotel-show v-bind:dish="dish" style="border-radius: 4px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);"></hotel-show>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
    <div style="position: fixed;bottom: 0px;right:0px ;width: 320px;border-top: 2px solid #0c65d2; box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)">
        <el-row style="background: #F4F4F4">
            <el-col :span="8"  style="padding-top: 5px;padding-bottom: 5px">
                <span style="margin-left:8%">购物车</span>
                <span class="glyphicon glyphicon-shopping-cart" style="color: #3a8ee6" aria-hidden="true"></span>
            </el-col>
        </el-row>
        <el-row v-for="dish in menu" style="background: white">
            <template v-if="dish.count>0">
                <div style="border-bottom: 1px solid #e7e7e7">
                    <el-col :span="12">
                        <span style="margin-left: 5px">{{dish.name}}</span>
                    </el-col>
                    <el-col :span="6">
                        <span>{{dish.count}}</span>
                    </el-col>
                    <el-col :span="6">
                        <span style="color: red">{{dish.count*dish.price}}¥</span>
                    </el-col>
                </div>
            </template>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-badge :value="counts" style="margin-top: 10px;margin-left: 30px">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </el-badge>
            </el-col>
            <el-col :span="4" style="padding-top: 10px">
                <span>¥{{money}}</span>
            </el-col>
            <el-col :span="12">
                <el-button v-on:click="settlement" style="width:100%" size="medium" type="primary">去结算></el-button>
            </el-col>
        </el-row>
    </div>
</div>
</body>
</html>